/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * 
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * TYPOGRAPHY
   */

  /* Font family */
  --font-primary: 'Inter', sans-serif;

  /* Font size */
  --fs-base: 62.5%;
  --fs-display-large: 5.7rem;
  --fs-display-medium: 4.5rem;
  --fs-display-small: 3.6rem;
  --fs-headline-large: 3.2rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.4rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 1.6rem;
  --fs-title-small: 1.4rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.4rem;
  --fs-body-small: 1.2rem;
  --fs-label-large: 1.4rem;
  --fs-label-medium: 1.2rem;
  --fs-label-small: 0.813rem;

  /* Line height */
  --lh-base: 20px;
  --lh-display-large: 64px;
  --lh-display-medium: 52px;
  --lh-display-small: 44px;
  --lh-headline-large: 40px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 32px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 20px;
  --lh-body-large: 24px;
  --lh-body-medium: 20px;
  --lh-body-small: 16px;
  --lh-label-large: 20px;
  --lh-label-medium: 16px;
  --lh-label-small: 16px;

  /* Font weight */
  --fw-regular: 400;
  --fw-medium: 500;

  /* Letter spacing */
  --ls-n-025: -0.25px;
  --ls-p-010: 0.10px;
  --ls-p-015: 0.15px;
  --ls-p-025: 0.25px;
  --ls-p-040: 0.40px;
  --ls-p-050: 0.50px;

  /**
   * SPACING
   */

  --spacing-base: 4px;
  --spacing-05: calc(var(--spacing-base) * 0.5);
  --spacing-1: calc(var(--spacing-base) * 1);
  --spacing-2: calc(var(--spacing-base) * 2);
  --spacing-3: calc(var(--spacing-base) * 3.5);
  --spacing-4: calc(var(--spacing-base) * 4);
  --spacing-5: calc(var(--spacing-base) * 5);
  --spacing-6: calc(var(--spacing-base) * 6);
  --spacing-7: calc(var(--spacing-base) * 7);
  --spacing-8: calc(var(--spacing-base) * 8);
  --spacing-9: calc(var(--spacing-base) * 9);
  --spacing-10: calc(var(--spacing-base) * 10);
  --spacing-11: calc(var(--spacing-base) * 11);
  --spacing-12: calc(var(--spacing-base) * 12);
  --spacing-13: calc(var(--spacing-base) * 13);
  --spacing-14: calc(var(--spacing-base) * 14);
  --spacing-15: calc(var(--spacing-base) * 15);
  --spacing-16: calc(var(--spacing-base) * 16);
  --spacing-17: calc(var(--spacing-base) * 17);
  --spacing-18: calc(var(--spacing-base) * 18);
  --spacing-19: calc(var(--spacing-base) * 19);
  --spacing-20: calc(var(--spacing-base) * 20);

  /**
   * BOX SHADOW
   */

  --shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
  --shadow-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
  --shadow-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;

  /**
   * BORDER RADIUS
   */

  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 28px;
  --radius-full: 1000px;

  /**
   * TRANSITION
   */

  --tr-duration-short: 200ms;
  --tr-duration-medium: 400ms;
  --tr-duration-long: 500ms;
  --tr-easing-linear: cubic-bezier(0, 0, 1, 1);
  --tr-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);

  /**
   * OTHERS
   */

  --sidebar-width: 245px;

}

[data-theme="dark"] {

  color-scheme: dark;

  --background: var(--background-dark);
  --on-background: var(--on-background-dark);
  --surface: var(--surface-dark);
  --surface-container-low: var(--surface-container-low-dark);
  --surface-container-highest: var(--surface-container-highest-dark);
  --on-surface: var(--on-surface-dark);
  --on-surface-variant: var(--on-surface-variant-dark);
  --primary: var(--primary-dark);
  --on-primary: var(--on-primary-dark);
  --primary-container: var(--primary-container-dark);
  --on-primary-container: var(--on-primary-container-dark);
  --secondary-container: var(--secondary-container-dark);
  --on-secondary-container: var(--on-secondary-container-dark);
  --outline: var(--outline-dark);
  --outline-variant: var(--outline-variant-dark);
  --inverse-surface: var(--inverse-surface-dark);
  --inverse-on-surface: var(--inverse-on-surface-dark);

}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
textarea,
button {
  background: none;
  border: none;
  font: inherit;
}



input,
textarea {
  width: 100%;
}

input,
textarea,
[contenteditable="true"] {
  outline: none;
}

textarea {
  resize: vertical;
}


/*-----------------------------------*\
  #BASE
\*-----------------------------------*/

:where(input)::placeholder {
  color: #dcd8fe41;
  font-size: 18px;
  font-weight: 500;
}

:where(textarea)::placeholder {
  color: #dcd8fe42;
  font-size: 15px;
  font-weight: 400;
}

button:disabled {
  pointer-events: none;
}

html {
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  /* -webkit-tap-highlight-color: transparent; */
}

body {
  background-color: #07070A;
  color: white;
  font-size: var(--fs-body-medium);
  line-height: var(--lh-base);
  cursor: default;
}

::selection {
  background-color: #575BC7;
  color: white;
}

/* ::-webkit-scrollbar {
  width: 8px;
} */


/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

.text-display-large {
  font-size: var(--fs-display-large);
  line-height: var(--lh-display-large);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-n-025);
}

.text-display-medium {
  font-size: var(--fs-display-medium);
  line-height: var(--lh-display-medium);
  font-weight: var(--fw-regular);
}

.text-display-small {
  font-size: var(--fs-display-small);
  line-height: var(--lh-display-small);
  font-weight: var(--fw-regular);
}

.text-headline-large {
  font-size: var(--fs-headline-large);
  line-height: var(--lh-headline-large);
  font-weight: var(--fw-regular);
}

.text-headline-medium {
  font-size: var(--fs-headline-medium);
  line-height: var(--lh-headline-medium);
  font-weight: var(--fw-regular);
}

.text-headline-small {
  font-size: var(--fs-headline-small);
  line-height: var(--lh-headline-small);
  font-weight: var(--fw-regular);
}

.text-title-large {
  font-size: var(--fs-title-large);
  line-height: var(--lh-title-large);
  font-weight: var(--fw-regular);
}

.text-title-medium {
  font-size: var(--fs-title-medium);
  line-height: var(--lh-title-medium);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-015);
}

.text-title-small {
  font-size: var(--fs-title-small);
  line-height: var(--lh-title-small);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-010);
}

.text-body-large {
  font-size: var(--fs-body-large);
  line-height: var(--lh-body-large);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-p-025);
}

.text-body-medium {
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-p-025);
}

.text-body-small {
  font-size: var(--fs-body-small);
  line-height: var(--lh-body-small);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-p-040);
}

.text-label-large {
  font-size: var(--fs-label-large);
  line-height: var(--lh-label-large);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-010);
}

.text-label-medium {
  font-size: var(--fs-label-medium);
  line-height: var(--lh-label-medium);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-050);
}

.text-label-small {
  font-size: var(--fs-label-small);
  line-height: var(--lh-label-small);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-050);
}





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.material-symbols-rounded {
  width: 1em;
  height: 1em;
  display: block;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  -webkit-user-select: none;
  user-select: none;
}

.state-layer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  opacity: 0;
  transition: opacity var(--tr-duration-short) var(--tr-easing-linear);
  z-index: -1;
}

:has(> .state-layer):hover>.state-layer {
  opacity: 0.08;
}

:has(> .state-layer):is(:focus, :focus-visible, :focus-within)>.state-layer {
  opacity: 0.12;
}

:has(> .state-layer):active>.state-layer {
  opacity: 0.16;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  /* for mobile screen */
  background-color: var(--black);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: var(--tr-duration-short) var(--tr-easing-linear);
  transition-property: opacity, visibility;
}

.overlay.active {
  opacity: 0.5;
  visibility: visible;
}

.modal-overlay {
  z-index: 6;
  visibility: visible;
  animation: fade-overlay var(--tr-duration-short) var(--tr-easing-linear) forwards;
}

@keyframes fade-overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.add-icon-mobile {
  width: 22px;
  height: 22px;
  opacity: 0.6;
}


/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

/**
 * Icon button
 */

.icon-btn {
  display: grid;
  place-items: center;
  color: var(--on-surface-variant);
  /* border-radius: var(--radius-full);
  --state-layer-bg: var(--on-surface-variant); */
}

.icon-btn.large {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.icon-btn.large:hover {
  background-color: #131316;
  opacity: 1;
}

.icon-btn.small {
  width: 28px;
  height: 28px;
  border-radius: 4px;
}

.icon-btn.small:hover {
  background-color: #1E2025;
}


/**
 * FAB (Floating Action Button)
 */

.fab {
  height: 28px;
  width: 100%;
  background-color: #18181D;
  color: #EEEFFC;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #393A4B;
  transition: background-color 0.5s ease;
}

.fab:hover {
  background-color: #18181dad;
}

.fab .text {
  padding-inline-end: var(--spacing-2);
}


.fab-mobile {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: var(--spacing-4);
  right: var(--spacing-4);
  z-index: 2;
  background-color: #18181D;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Card
 */

.card {
  background-color: #0A0A0E;
  padding: var(--spacing-5);
  border: 1.2px solid #0E0E13;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 210px;
  transition: border-color var(--tr-duration-short) var(--tr-easing-linear);
}

.card:where(:hover, :focus-visible) {
  border-color: rgb(21, 21, 27);
}

.card .card-title {
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.card .card-text {
  color: #858699;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  margin-block: var(--spacing-4);
  text-wrap: balance;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: auto;
}

.card .card-time {
  color: #858699;
  font-size: 12px;
  font-weight: 500;
}

.card .icon-btn {
  opacity: 0;
  transition: opacity var(--tr-duration-short) var(--tr-easing-linear);
}

.card:where(:hover, :focus-visible) .icon-btn {
  opacity: 0.4;
}


/**
 * Modal
 */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 660px;
  width: calc(100% - var(--spacing-8));
  /* min-width: 500px; */
  background-color: #0F0F12;
  border-radius: 8px;
  border: 1px solid #1B1B1F;
  padding: var(--spacing-6);
  box-shadow: var(--shadow-3);
  z-index: 8;
  animation: modal-open var(--tr-duration-medium) var(--tr-easing-emphasized) forwards;
}

@keyframes modal-open {
  0% {
    transform: translate(-50%, calc(-50% + var(--spacing-5)));
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  }
}

.modal .icon-btn {
  position: absolute;
  top: var(--spacing-4);
  right: var(--spacing-4);
}

.modal-title {
  padding-inline-end: var(--spacing-10);
  max-height: 48px;
  color: var(--on-surface);
  margin-block-end: var(--spacing-4);
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.modal-text {
  min-height: 240px;
  max-height: calc(100vh - 200px);
  color: var(--on-surface-variant);
  overflow-y: auto;
  margin-block-end: var(--spacing-4);
  font-size: 13px;
  line-height: px;
  font-weight: 400;
  color: #858699;
}

.modal-delete-text {
  color: #858699;
  font-size: 12px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-2);
  padding-block-start: var(--spacing-2);
}

.modal-footer-delete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
  padding-block-start: var(--spacing-2);
  margin-top: 2rem;
}

.modal-footer .time {
  flex-grow: 1;
  color: #858699;
  font-size: 12px;
  font-weight: 400;
}


/**
 * Button
 */

.btn.text {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px 7px;
  background-color: #575BC7;
  border: 1px solid #575BC7;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  transition: opacity 0.8s ease;
}

.btn.text:hover {
  opacity: 0.8;
}

.btn.text:disabled {
  color: white;
  opacity: 0.38;
  background-color: #16161A;
  border: 1px solid #0E0E13;

}

.btn-text-title {
  font-size: 13px;
  font-family: 400;
}


.btn.text:disabled .text-label-large {
  opacity: 0.38;
}


.btn.text-cancel {
  background-color: #222228;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px 7px;
  border: 1px solid #a5a5c238;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.btn.text-cancel:hover {
  opacity: 0.8;
}

.btn.fill-delete {
  background-color: #FA6563;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px 7px;
  border: 1px solid #EB5757;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  transition: opacity 0.3s ease;
}

.btn.fill-delete:hover {
  opacity: 0.8;
}


/**
 * Tooltip
 */

.tooltip {
  position: absolute;
  background: linear-gradient(#000000, #0B0A0A);
  color: #E0E1EC;
  padding: 3px 8px;
  border-radius: 4px;
  border: 1px solid #17181E;
  font-size: 12px;
  font-weight: 400;
  z-index: 2000;
  display: flex;
  justify-content: notebook-between;
  align-items: center;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease, transform 0.1s ease;

}

.tooltip.show {
  opacity: 1;
  transform: translateY(0);
}


/**
 * Popup tooltip
 */
.tooltip-popup {
  visibility: hidden;
  width: max-content;
  background: linear-gradient(#000000, #0B0A0A);
  color: #E0E1EC;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #17181E;
  padding: 3px 8px;
  position: absolute;
  z-index: 3000;
  left: 120%;
  /* Position to the right of the button */
  top: 30%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: notebook-between;
  align-items: center;
  gap: 10px;
}


#togglePopup:hover .tooltip-popup {
  visibility: visible;
  opacity: 1;
}

#icon-btn.large:hover .tooltip-popup {
  visibility: visible;
  opacity: 1;
}

/* Hide tooltip when popup is active */
#togglePopup.popup-active:hover .tooltip-popup {
  visibility: hidden;
  opacity: 0;
}


/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content) 1fr max-content;
  background-color: black;
  max-width: var(--sidebar-width);
  width: var(--sidebar-width);
  padding: 0.8%;
  padding-top: 12px;
  border-radius: 0 var(--radius-large) var(--radius-large) 0;
  box-shadow: var(--shadow-3);
  z-index: 4;
  visibility: hidden;
  transition: var(--tr-duration-long) var(--tr-easing-emphasized);
  transition-property: transform, visibility;
  border-right: 1px solid;
  border-image-source: linear-gradient(to bottom,
      #2c2d3c23 0%,
      #2C2D3C 40%,
      #2C2D3C 50%,
      #2C2D3C 60%,
      #2c2d3c2c 100%);
  border-image-slice: 1
}

.custom-scrollbar {
  overflow: auto;
}

.sidebar.active {
  transform: translateX(100%);
  visibility: visible;
}

.sidebar .fab {
  display: none;
}

.sidebar>.wrapper {
  height: auto;
  display: flex;
  justify-content: notebook-between;
  align-items: center;
}

.sidebar>.wrapper-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 6px;
}

.logo {
  width: 100%;
  color: #EEEFFC;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.logo-icon {
  background-color: #392b2661;
  width: 18px;
  height: 18px;
  border-radius: 4px;
}


.sidebar>.wrapper-2 {
  display: flex;
  justify-content: space-between;
}

.new-notebook-btn {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.new-notebook-btn:hover {
  background-color: #131316;
}

.notebooks-text {
  font-size: 12px;
  font-weight: 500;
  color: #858699;
}


.nav-item {
  color: #D2D3E0;
  height: 27px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 4px;

}

.nav-item.active {
  background-color: #141518;
  color: #D2D3E0;
}

.nav-item:hover {
  background-color: #1e202644;
}

.nav-item.active:hover {
  background-color: #141518;
}

.edit-icon {
  width: 12px;
  height: 12px;
}

.delete-icon {
  width: 12px;
  height: 12px;
}

.delete-icon-card {
  width: 18px;
  height: 18px;
}


.nav-item .text {
  flex-grow: 1;
}

.nav-item .icon-btn {
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--tr-duration-medium) var(--tr-easing-linear);
}

.nav-item:where(:hover, :focus-within) .icon-btn {
  opacity: 1;
  visibility: visible;
}

.sidebar .popup-btn-wrapper {
  position: fixed;
  bottom: -1%;
  /* left: 0.8%; */
  min-width: calc(var(--sidebar-width) - 2px);
  min-height: 55px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-bottom: 3px;
}


/**
 * Popup
 */

.popup-btn-wrapper {
  position: relative;
}

.popup {
  display: none;
  position: fixed;
  bottom: 6%;
  left: 1.5%;
  z-index: 1000;
  width: 270px;
  background-color: #0F0F12;
  border: 1.2px solid #1B1B1F;
  border-radius: 6px;
  padding: 28px 16px;
  overflow: auto;
}

.popup.show {
  display: block;
}

.popup-heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.popup-date {
  font-size: 13px;
  font-weight: 400;
  color: #858699;
  opacity: 0.6;
  margin-top: 14px;
}

.popup-text-body {
  font-size: 13px;
  font-weight: 400;
  color: #858699;
  opacity: 0.6;
  margin-top: 14px;
}

.popup-date-bold {
  color: whitesmoke;
}

.popup-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  height: 100%;
  margin-top: 14px;
}

.popup-item {
  display: flex;
  justify-content: notebook-between;
  width: 100%;
  max-height: 16px;
}

.popup-btn-wrapper {
  position: relative;
}

#togglePopup {
  position: relative;
  width: 26px;
  height: 26px;
  border: 1.3px solid #222427;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.popup-text {
  font-size: 13px;
  font-weight: 400;
  color: #858699;
  opacity: 0.6;
}

/**
 * Nav scrollbar
 */

/*
* NAV
*/

.custom-scrollbar {
  width: 100%;
  height: 75vh;
  overflow: hidden;
  position: relative;
}

.custom-scrollbar:hover,
.custom-scrollbar:focus,
.custom-scrollbar:active {
  overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 8px;
}


/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

.main {
  padding-inline: var(--spacing-4);
  padding-block-end: var(--spacing-4);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main .header {
  display: flex;
  align-items: flex-start;
  padding-block: var(--spacing-4);
  margin-top: 6px;
}

.github-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  padding: 10.5px 16px;
  border-radius: 100px;
  transition: background-color 0.5s ease;
}

.github-link:hover {
  background-color: #101015;
}

.github-link-text {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.github-icon {
  width: 18px;
  height: 18px;
}

.main .notebook-title {
  color: #858699;
  font-size: 14px;
  font-weight: 500;
}

.main .header .wrapper {
  flex-grow: 1;
}

.main .header .title {
  margin-block-end: var(--spacing-1);
}

.main .header .text {
  color: var(--on-surface-variant);
}

.main>.title {
  margin-block: var(--spacing-3);
}

.greeting-heading {
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-bottom: 8px;
}

.date-title {
  font-size: 13px;
  font-weight: 500;
  color: #858699;
}

.note-list {
  position: relative;
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-content: flex-start;
  flex-grow: 1;
  align-items: stretch;
  gap: 16px;
}


.empty-notes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--on-surface-variant);
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.no-notes-img {
  width: 100px;
  height: auto;
}

.no-notes-yet {
  color: #858699;
  font-size: 12px;
  font-weight: 500;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * MAIN
   */

  .main {
    padding-inline: var(--spacing-6);
  }

}


/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * BASE
   */

  body {
    padding-inline-start: var(--sidebar-width);
  }


  /**
   * REUSED STYLE
   */

  .overlay:not(.modal-overlay) {
    display: none;
  }


  /**
   * SIDEBAR
   */

  .sidebar {
    visibility: visible;
    left: 0;
    height: 100vh;
    grid-template-rows: repeat(3, max-content) 1fr max-content;
    box-shadow: none;
    border-radius: 0;
  }

  .sidebar.active {
    transform: unset;
  }

  .sidebar .fab {
    display: flex;
  }

  .fab-mobile {
    display: none;
  }


  /**
   * MAIN
   */

  .main {
    padding-inline: var(--spacing-7);
  }

  .menu-btn,
  .main .fab {
    display: none;
  }


}


@media (max-width: 968px) {

  .card {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    padding: 12px;
  }

  .github-link {
    display: none;
  }

}

@media (max-width: 768px) {

  .note-list {
    grid-template-columns: repeat(1, 1fr);
  }

}


/**
 * responsive for larger than 1400px screen
 */

@media (min-width: 1400px) {

  /**
   * MAIN
   */

  .main {
    max-width: 1480px;
    width: 100%;
    margin-inline: auto;
  }


}